@{
    ViewData["Title"] = "Lista de Produtos";
}

<br />
<h4>Lista de Produtos</h4>
<br /><br />
<div class="row marginTop">

    @foreach (Produtos produto in Model.Produtos)
        {
            @Html.Partial("Detalhes", produto)
        }
    

</div>
