@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Novedades Lelita<br />
    Peru, Lima 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +51 994 671 454
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">novedadeslelita@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">novedadeslelita@gmail.com</a>
</address>
